{% extends 'base.html' %}
{% block 'title' %}List of Items{% endblock %}
{% block 'content' %}

<h3>Current Items in {{category.name}}</h3>
{% for item in category.item_set.all %}
		<table class="table">
		    <tr>
		        <td colspan="1">{{ item.name }}
			<p style="width:50px; margin-left:10px;">{{ item.quantity }}</p>
   	    <a href="{% url 'inventory:deleteitem' item.id %}"><span style="color:red; margin-left:10px;" class="glyphicon glyphicon-remove"></span></a>
			    </td>
			</tr>
		</table>

<p><a style="color:black" href="{% url 'inventory:itemupdate' item.id %}"><span style="color:blue" class="glyphicon glyphicon-edit"></span>&nbsp;Edit Item</a></p>
{% empty %}
   <p>There are no items. Want to <a href="{% url 'inventory:additem' %}">add one?</a></p>

{% endfor %}

<p><a style="color:black" href="{% url 'inventory:additem' %}"><span style="color:green" class="glyphicon glyphicon-plus"></span>&nbsp;Add New Item</a></p>
<p>Go back to the list of <a href="{% url 'inventory:categorylist' %}">categories</a>.</p>
{% endblock %}
